/* TODO:
      Front-end dev, later will move this in global.css,
      not today because of global may affected some files that use global.css 
      that is why it is isolated for now for safety.
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.sections {
  width: 100%;
}

.containers {
  padding: 32px 16px;
}

@media screen and (min-width: 780px) {
  .containers {
    max-width: 1440px;
    width: 100%;
    padding: 96px 64px;
    margin-inline: auto;
  }
}

/* ==================== Business Form ==================== */
.business-container {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid gray;
  margin-top: 24px;
}

.business-container h2 {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}

.business-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000E5;
}

.business-container .form {
  margin-inline: auto;
}

.business-container .form h1 {
  margin-bottom: 8px;
}

.business-container .form .inputs-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-block: 24px;
}

.business-container .form .inputs-container .label-and-input {
  display: flex;
  flex-direction: column;
}

.business-container .form .inputs-container .label-and-input label {
  margin-bottom: 8px;
}

.business-container .form .inputs-container .label-and-input input[type="email"],
.business-container .form .inputs-container .label-and-input input[type="text"],
.business-container .form .inputs-container .label-and-input input[type="date"],
.business-container .form .inputs-container .label-and-input input[type="tel"],
.business-container .form .inputs-container .label-and-input input[type="date"],
.business-container .form .inputs-container .label-and-input input[type="file"],
.business-container .form .inputs-container .label-and-input select {
  padding: 12px 8px;
  border-radius: 8px;
  border: 1px solid #C4C4C4;
  width: 100%;
  background-color: #f5f5f5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.business-container .form .buttons-container {
  margin-left: auto;
  width: max-content;
}

.business-container .form .buttons-container button {
  padding: 16px;
  border-radius: 8px;
  border: transparent;
  transition: background-color 200ms ease;
  font-weight: 500;
}

.business-container .form .buttons-container button:nth-child(1) {
  background-color: #dbdbdb;
  color: black;
}

.business-container .form .buttons-container button:nth-child(2) {
  background-color: #00247C;
  color: white;
  margin-left: 4px;
}

.business-container .form .buttons-container button:nth-child(1):hover {
  background-color: #c9c9c9;
}

.business-container .form .buttons-container button:nth-child(2):hover {
  background-color: #00164d;
}

/* ==================== Waiver Form ==================== */
.waiver-container .form {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 12px;
}

.waiver-container .form h3 {
  margin-bottom: 8px;
}

.waiver-container .form p:first-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000E5;
}

.waiver-container .form #waiverContent {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 12px;
  margin-block: 24px;
}

.waiver-container .form .label-and-input {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 12px;
}

.waiver-container .form .label-and-input label {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
}

.waiver-container .form .buttons-container {
  margin-left: auto;
  width: max-content;
  margin-top: 24px;
}

.waiver-container .form .buttons-container button {
  padding: 16px;
  border-radius: 8px;
  border: transparent;
  transition: background-color 200ms ease;
  font-weight: 500;
}

.waiver-container .form .buttons-container button:nth-child(1) {
  background-color: #dbdbdb;
  color: black;
}

.waiver-container .form .buttons-container button:nth-child(2) {
  background-color: #00247C;
  color: white;
  margin-left: 4px;
}

.waiver-container .form .buttons-container button:nth-child(1):hover {
  background-color: #c9c9c9;
}

.waiver-container .form .buttons-container button:nth-child(2):hover {
  background-color: #00164d;
}

/* ==================== Summary ==================== */
.summary-container .form {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 12px;
}

.summary-container .form h3 {
  margin-bottom: 8px;
}

.summary-container .form p:first-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000E5;
}

.summary-container .form #summaryContent {
  margin-block: 24px;
}

.summary-container .form #summaryContent h4 {
  margin-bottom: 8px;
}

.summary-container .form #summaryContent .divider {
  margin-block: 8px;
  height: 1px;
  background-color: gray;
  width: 100%;
}

.summary-container .form p:first-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000E5;
}

.summary-container .form #summaryContent .row {
  display: flex;
  row-gap: 8px;
}

.summary-container .form #summaryContent .row div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.summary-container .form .buttons-container {
  margin-left: auto;
  width: max-content;
}

.summary-container .form .buttons-container button {
  padding: 16px;
  border-radius: 8px;
  border: transparent;
  transition: background-color 200ms ease;
  font-weight: 500;
}

.summary-container .form .buttons-container button:nth-child(1) {
  background-color: #dbdbdb;
  color: black;
}

.summary-container .form .buttons-container button:nth-child(2) {
  background-color: #00247C;
  color: white;
  margin-left: 4px;
}

.summary-container .form .buttons-container button:nth-child(1):hover {
  background-color: #c9c9c9;
}

.summary-container .form .buttons-container button:nth-child(2):hover {
  background-color: #00164d;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 8px;
  display: none;
}

.error-msg.show {
  display: block;
}

.error {
  outline: 1px solid red;
  /* border: 1px solid red !important; */
}

.hidden {
  display: none;
}


@media screen and (min-width: 780px) {
  .business-container {
    border-radius: 8px;
    padding: 32px;
    border: 1px solid gray;
  }

  .business-container .form {
    max-width: 927px;
  }
}