:root {
    --color-blue-1: #1249B4;
    --color-blue-2: #00247C;

    --h4: 36px;
    --h4-lh: 44px;
    --h4-letter-space: -0.2%;

    --tx1: 20px;
    --tx1-lh: 30px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

/* ==================== Status section ==================== */
.status .container-1 {
    padding: 32px 64px;
    border: 1px solid grey;
    border-radius: 16px;
}

.status .container-1 .content .header-and-text {
    margin-bottom: 32px;
}

.status .container-1 .content .header-and-text h4 {
    font-size: var(--h4);
    font-weight: var(--fw-bold);
    line-height: var(--h4-lh);
    letter-spacing: var(--h4-letter-space);
    margin-bottom: 12px;
}

.status .container-1 .content .header-and-text p {
    font-size: var(--tx1);
    font-weight: var(--fw-regular);
    line-height: var(--tx1-lh);
}

.status .container-1 .status-bar-container {
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    border-radius: 12px;
    padding: 32px;
}

.status-bar-container span {
    font-size: var(--tx1);
    font-weight: var(--fw-regular);
    line-height: var(--tx1-lh);
    color: grey;
}