server/configs/database.php
client/scripts/staff/business_staff/uploads/1765689888_Receipt - null.pdf
.gitignore
client/scripts/staff/business_staff/uploads/1765690577_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765690293_Receipt - null.pdf
server/api/resident/error.log
server/configs/uploads/business_requirements/1765700985_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765701174_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765701641_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765702119_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765702135_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765703342_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765703576_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765703792_erd.png
server/configs/uploads/business_requirements/1765703909_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/error.log
server/api/resident/uploads/payment_proofs/proof_693ea4fb60758.png
server/api/resident/uploads/payment_proofs/proof_693eb33b76c8c.png
server/api/resident/uploads/payment_proofs/proof_693ec6ea1c5be.pdf
server/api/resident/uploads/payment_proofs/proof_693ec62acf8d8.png
server/api/resident/uploads/payment_proofs/proof_693ec90d7449d.png
server/configs/database.php
server/configs/uploads/business_requirements/1765716430_Screenshot 2025-12-14 050021.png
server/configs/uploads/business_requirements/1765716659_Barangay Blue Ridge B - Business Clearance.pdf
server/configs/uploads/business_requirements/1765717647_Screenshot 2025-12-14 050021.png
server/configs/uploads/business_requirements/1765717807_Screenshot 2025-12-14 050021.png
server/configs/uploads/business_requirements/1765719155_Screenshot 2025-12-14 050021.png
server/configs/uploads/business_requirements/1765720013_Screenshot 2025-12-14 050021.png
server/configs/uploads/business_requirements/1765720697_Screenshot 2025-12-14 050021.png
server/configs/uploads/business_requirements/1765720960_Screenshot 2025-12-14 050021.png
server/configs/uploads/business_requirements/1765721295_leaseContract.pdf
server/configs/uploads/business_requirements/1765721437_leaseContract.pdf
server/configs/uploads/business_requirements/1765721496_leaseContract.pdf
server/configs/uploads/business_requirements/1765721563_Screenshot 2025-12-14 050021.png
server/configs/uploads/proofs/proof_693e98c065fca.png
server/configs/database.php
client/scripts/staff/business_staff/error.log
client/scripts/staff/business_staff/uploads/1765731089_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765731229_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765733743_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765733812_leaseContract.pdf
client/scripts/staff/business_staff/uploads/1765734583_Screenshot 2025-12-14 050021.png
client/scripts/staff/business_staff/uploads/1765734824_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765736480_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765737148_Screenshot 2025-12-14 050021.png
client/scripts/staff/business_staff/uploads/1765786313_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765787070_schoolid2.jpg
server/api/resident/uploads/payment_proofs/proof_693eedf63fc4f.png
server/api/resident/uploads/payment_proofs/proof_693f0507ee0d0.png
server/api/resident/uploads/payment_proofs/proof_693fc75f4317c.png
server/configs/database.php
