client/scripts/staff/business_staff/uploads/1765689888_Receipt - null.pdf
.gitignore
server/configs/database.php
client/pages/resident/business_app.php
client/scripts/staff/business_staff/uploads/1765690293_Receipt - null.pdf
client/scripts/staff/business_staff/uploads/1765690577_Barangay Blue Ridge B - Business Clearance.pdf
client/scripts/staff/business_staff/uploads/1765689888_Receipt - null.pdf
server/api/resident/error.log
server/configs/database.php
client/scripts/staff/business_staff/error.log

client/scripts/staff/business_staff/error.log
