--
-- PostgreSQL database dump
--

\restrict vovHC12Z7bKQeAeKQ5h5ptaRvIJeBHrKUPE8SgyShiRf9xBKa0SdhTf3MOyyCHE

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO postgres;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO postgres;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


--
-- Name: update_construction_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_construction_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_construction_timestamp() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: archives; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.archives (
    archive_id integer NOT NULL,
    table_name character varying(100) NOT NULL,
    record_id integer NOT NULL,
    supabase_user_id uuid NOT NULL,
    archived_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    restored_at timestamp without time zone,
    is_restored boolean DEFAULT false,
    full_name character varying(255),
    role_id integer,
    email character varying(255) NOT NULL
);


ALTER TABLE public.archives OWNER TO postgres;

--
-- Name: archives_archive_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.archives_archive_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.archives_archive_id_seq OWNER TO postgres;

--
-- Name: archives_archive_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.archives_archive_id_seq OWNED BY public.archives.archive_id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    supabase_user_id uuid,
    role_id integer NOT NULL,
    category character varying(50),
    action character varying(20) NOT NULL,
    table_name character varying(100) NOT NULL,
    record_id integer,
    old_data jsonb,
    new_data jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    full_name character varying(255)
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: barangay_boundaries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.barangay_boundaries (
    boundary_id integer NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    coordinates jsonb NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.barangay_boundaries OWNER TO postgres;

--
-- Name: barangay_boundaries_boundary_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.barangay_boundaries_boundary_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.barangay_boundaries_boundary_id_seq OWNER TO postgres;

--
-- Name: barangay_boundaries_boundary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.barangay_boundaries_boundary_id_seq OWNED BY public.barangay_boundaries.boundary_id;


--
-- Name: barangay_hazards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.barangay_hazards (
    hazard_id integer NOT NULL,
    hazard_type character varying(50),
    hazard_name character varying(255),
    risk_level character varying(20),
    description text,
    geom public.geography(Polygon,4326),
    properties jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.barangay_hazards OWNER TO postgres;

--
-- Name: barangay_hazards_hazard_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.barangay_hazards_hazard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.barangay_hazards_hazard_id_seq OWNER TO postgres;

--
-- Name: barangay_hazards_hazard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.barangay_hazards_hazard_id_seq OWNED BY public.barangay_hazards.hazard_id;


--
-- Name: business_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_applications (
    id integer NOT NULL,
    business_name character varying(255) NOT NULL,
    type_of_business character varying(100) NOT NULL,
    nature_of_business character varying(100) NOT NULL,
    nature_of_business_specify character varying(255),
    address_of_business text NOT NULL,
    business_status json,
    telephone_no_business character varying(20),
    email_address character varying(255),
    first_name character varying(100) NOT NULL,
    middle_name character varying(100),
    last_name character varying(100) NOT NULL,
    telephone_no_owner character varying(20),
    address_owner text,
    type_of_structure character varying(100),
    type_of_structure_specify character varying(255),
    no_of_employees integer,
    requirements json,
    requirement_upload character varying(500),
    status character varying(50) DEFAULT 'Pending'::character varying,
    approval_comments text,
    disapproval_reason text,
    application_date date NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    payment_status character varying(50) DEFAULT 'Unpaid'::character varying,
    amount_due numeric(10,2) DEFAULT 0.00,
    amount_paid numeric(10,2) DEFAULT 0.00,
    or_number character varying(50),
    payment_date timestamp without time zone,
    payment_method character varying(50),
    supabase_user_id text,
    latitude numeric(10,8),
    longitude numeric(11,8),
    dss_status character varying(50),
    suffix character varying(20),
    nature_of_application character varying(50),
    requirement_upload_json jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.business_applications OWNER TO postgres;

--
-- Name: business_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.business_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.business_applications_id_seq OWNER TO postgres;

--
-- Name: business_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.business_applications_id_seq OWNED BY public.business_applications.id;


--
-- Name: business_evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_evaluations (
    id integer NOT NULL,
    application_id integer NOT NULL,
    dss_status character varying(50) DEFAULT 'Pending Evaluation'::character varying NOT NULL,
    evaluation_details jsonb,
    evaluated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.business_evaluations OWNER TO postgres;

--
-- Name: business_evaluations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.business_evaluations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.business_evaluations_id_seq OWNER TO postgres;

--
-- Name: business_evaluations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.business_evaluations_id_seq OWNED BY public.business_evaluations.id;


--
-- Name: business_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_files (
    id integer NOT NULL,
    application_id integer,
    filename text,
    saved_filename text,
    file_url text,
    checksum text,
    size_bytes integer,
    mime_type text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.business_files OWNER TO postgres;

--
-- Name: business_files_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.business_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.business_files_id_seq OWNER TO postgres;

--
-- Name: business_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.business_files_id_seq OWNED BY public.business_files.id;


--
-- Name: business_ocr_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_ocr_results (
    id integer NOT NULL,
    application_id integer,
    filename character varying(500),
    saved_filename character varying(500),
    file_url text,
    ocr_result jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.business_ocr_results OWNER TO postgres;

--
-- Name: business_ocr_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.business_ocr_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.business_ocr_results_id_seq OWNER TO postgres;

--
-- Name: business_ocr_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.business_ocr_results_id_seq OWNED BY public.business_ocr_results.id;


--
-- Name: construction_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.construction_applications (
    id integer NOT NULL,
    supabase_user_id text,
    first_name character varying(50) NOT NULL,
    middle_name character varying(50),
    last_name character varying(50) NOT NULL,
    suffix character varying(20),
    contact_no_owner character varying(20),
    owner_address text,
    nature_of_work text,
    type_of_work text,
    nature_of_activity text,
    details_of_work text,
    start_date date,
    end_date date,
    number_of_working_days integer,
    number_of_workers integer,
    contractor_name text,
    contractor_contact_number text,
    application_method text,
    construction_address text,
    latitude numeric(10,8),
    longitude numeric(11,8),
    requirement_upload text,
    agreed integer DEFAULT 0,
    application_date date DEFAULT CURRENT_DATE NOT NULL,
    request_date date,
    status character varying(50) DEFAULT 'Pending'::character varying,
    approval_comments text,
    disapproval_reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    payment_status character varying(50),
    amount_due numeric(10,2),
    amount_paid numeric(10,2),
    or_number character varying(50),
    payment_date timestamp without time zone,
    payment_method character varying(50),
    dss_status character varying(50),
    requirement_upload_json jsonb
);


ALTER TABLE public.construction_applications OWNER TO postgres;

--
-- Name: construction_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.construction_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.construction_applications_id_seq OWNER TO postgres;

--
-- Name: construction_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.construction_applications_id_seq OWNED BY public.construction_applications.id;


--
-- Name: construction_evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.construction_evaluations (
    id integer NOT NULL,
    application_id integer NOT NULL,
    dss_status character varying(50) DEFAULT 'Pending Evaluation'::character varying NOT NULL,
    evaluation_details jsonb,
    evaluated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.construction_evaluations OWNER TO postgres;

--
-- Name: construction_evaluations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.construction_evaluations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.construction_evaluations_id_seq OWNER TO postgres;

--
-- Name: construction_evaluations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.construction_evaluations_id_seq OWNED BY public.construction_evaluations.id;


--
-- Name: construction_ocr_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.construction_ocr_results (
    id integer NOT NULL,
    application_id integer NOT NULL,
    filename character varying(255),
    saved_filename character varying(500),
    file_url text,
    ocr_result jsonb,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.construction_ocr_results OWNER TO postgres;

--
-- Name: construction_ocr_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.construction_ocr_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.construction_ocr_results_id_seq OWNER TO postgres;

--
-- Name: construction_ocr_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.construction_ocr_results_id_seq OWNED BY public.construction_ocr_results.id;


--
-- Name: fault_lines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fault_lines (
    fault_line_id integer NOT NULL,
    fault_name character varying(255) NOT NULL,
    fault_type character varying(100) DEFAULT 'active'::character varying,
    description text,
    risk_level character varying(50) DEFAULT 'high'::character varying,
    properties jsonb,
    geom public.geometry(LineString,4326) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.fault_lines OWNER TO postgres;

--
-- Name: fault_lines_fault_line_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fault_lines_fault_line_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fault_lines_fault_line_id_seq OWNER TO postgres;

--
-- Name: fault_lines_fault_line_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fault_lines_fault_line_id_seq OWNED BY public.fault_lines.fault_line_id;


--
-- Name: house_polygons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.house_polygons (
    house_id integer NOT NULL,
    osm_id bigint,
    address character varying(255),
    street_name character varying(100),
    house_number character varying(20),
    coordinates jsonb,
    center_lat numeric(10,8),
    center_lng numeric(11,8),
    area_sqm numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.house_polygons OWNER TO postgres;

--
-- Name: house_polygons_house_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.house_polygons_house_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.house_polygons_house_id_seq OWNER TO postgres;

--
-- Name: house_polygons_house_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.house_polygons_house_id_seq OWNED BY public.house_polygons.house_id;


--
-- Name: incident_report_evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incident_report_evaluations (
    id integer NOT NULL,
    application_id integer NOT NULL,
    dss_status character varying(50) DEFAULT 'Pending Evaluation'::character varying NOT NULL,
    evaluation_details jsonb,
    evaluated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.incident_report_evaluations OWNER TO postgres;

--
-- Name: incident_report_evaluations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.incident_report_evaluations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.incident_report_evaluations_id_seq OWNER TO postgres;

--
-- Name: incident_report_evaluations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.incident_report_evaluations_id_seq OWNED BY public.incident_report_evaluations.id;


--
-- Name: incident_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incident_reports (
    id integer NOT NULL,
    rp_full_name character varying(255) NOT NULL,
    rp_address text NOT NULL,
    rp_contact character varying(15) NOT NULL,
    rp_relationship character varying(100),
    vic_full_name character varying(255),
    vic_address text,
    vic_contact character varying(15),
    vic_citizenship character varying(100),
    vic_gender character varying(50),
    vic_dob date,
    vic_occupation character varying(100),
    sus_full_name character varying(255),
    sus_address text,
    sus_contact character varying(15),
    sus_gender character varying(50),
    sus_description text,
    incident_type character varying(255) NOT NULL,
    incident_timestamp timestamp with time zone NOT NULL,
    date_reported timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    description text NOT NULL,
    witness_data_json jsonb,
    latitude numeric(10,8),
    longitude numeric(11,8),
    supabase_user_id text,
    update_comments text,
    resolution_details text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    dss_status character varying(50) DEFAULT 'Pending Evaluation'::character varying,
    status character varying(50) DEFAULT 'Pending'::character varying,
    approval_comments text,
    disapproval_comments text,
    application_date date
);


ALTER TABLE public.incident_reports OWNER TO postgres;

--
-- Name: TABLE incident_reports; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.incident_reports IS 'Stores detailed records of all submitted incident reports.';


--
-- Name: COLUMN incident_reports.witness_data_json; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.incident_reports.witness_data_json IS 'Structured JSON array containing full name, address, and contact for all witnesses.';


--
-- Name: incident_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.incident_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.incident_reports_id_seq OWNER TO postgres;

--
-- Name: incident_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.incident_reports_id_seq OWNED BY public.incident_reports.id;


--
-- Name: ocr_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ocr_jobs (
    id integer NOT NULL,
    job_type text NOT NULL,
    payload jsonb NOT NULL,
    status text DEFAULT 'pending'::text NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    last_error text,
    created_at timestamp with time zone DEFAULT now(),
    processed_at timestamp with time zone
);


ALTER TABLE public.ocr_jobs OWNER TO postgres;

--
-- Name: ocr_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ocr_jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ocr_jobs_id_seq OWNER TO postgres;

--
-- Name: ocr_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ocr_jobs_id_seq OWNED BY public.ocr_jobs.id;


--
-- Name: ocr_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ocr_verifications (
    id integer NOT NULL,
    supabase_user_id uuid,
    email character varying(255),
    meta jsonb,
    data jsonb,
    verified boolean NOT NULL,
    reasons jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ocr_verifications OWNER TO postgres;

--
-- Name: ocr_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ocr_verifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ocr_verifications_id_seq OWNER TO postgres;

--
-- Name: ocr_verifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ocr_verifications_id_seq OWNED BY public.ocr_verifications.id;


--
-- Name: resident; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resident (
    resident_id integer NOT NULL,
    user_id integer,
    household_head_name character varying(100),
    address character varying(255),
    household_size integer,
    contact_no character varying(20),
    household_status character varying(10),
    registered_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    supabase_user_id uuid,
    first_name character varying(50),
    middle_name character varying(50),
    last_name character varying(50),
    suffix character varying(20),
    ocr_verified boolean DEFAULT false,
    CONSTRAINT resident_household_status_check CHECK (((household_status)::text = ANY (ARRAY[('Owner'::character varying)::text, ('Renter'::character varying)::text])))
);


ALTER TABLE public.resident OWNER TO postgres;

--
-- Name: resident_resident_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resident_resident_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resident_resident_id_seq OWNER TO postgres;

--
-- Name: resident_resident_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resident_resident_id_seq OWNED BY public.resident.resident_id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    role_id integer NOT NULL,
    role_name character varying(50),
    description text
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: role_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.role_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_role_id_seq OWNER TO postgres;

--
-- Name: role_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.role_role_id_seq OWNED BY public.role.role_id;


--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    filename text NOT NULL,
    applied_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username character varying(50),
    password character varying(255),
    email character varying(100),
    full_name character varying(100),
    role_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    supabase_user_id uuid,
    first_name character varying(50),
    middle_name character varying(50),
    last_name character varying(50),
    suffix character varying(20),
    is_archived boolean DEFAULT false,
    status character varying(20) DEFAULT 'active'::character varying,
    suspend_reason character varying(255) DEFAULT NULL::character varying,
    reason_details character varying(255) DEFAULT NULL::character varying,
    suspended_until timestamp with time zone,
    latitude numeric(10,8),
    longitude numeric(11,8),
    lot_no character varying(255),
    street character varying(255),
    ocr_verified boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: utility_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utility_applications (
    id integer NOT NULL,
    address_of_utility text NOT NULL,
    first_name character varying(50) NOT NULL,
    middle_name character varying(50),
    last_name character varying(50) NOT NULL,
    suffix character varying(20),
    owner_contact_no character varying(20),
    owner_address text,
    status character varying(50) DEFAULT 'Pending'::character varying,
    approval_comments text,
    disapproval_reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    supabase_user_id text,
    latitude numeric(10,8),
    longitude numeric(11,8),
    date_of_work date,
    request_date date,
    nature_of_work text,
    provider text,
    agreed integer DEFAULT 0,
    application_date date DEFAULT CURRENT_TIMESTAMP NOT NULL,
    dss_status character varying(50)
);


ALTER TABLE public.utility_applications OWNER TO postgres;

--
-- Name: utility_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.utility_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utility_applications_id_seq OWNER TO postgres;

--
-- Name: utility_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.utility_applications_id_seq OWNED BY public.utility_applications.id;


--
-- Name: utility_evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utility_evaluations (
    id integer NOT NULL,
    application_id integer NOT NULL,
    dss_status character varying(50) DEFAULT 'Pending Evaluation'::character varying NOT NULL,
    evaluation_details jsonb,
    evaluated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.utility_evaluations OWNER TO postgres;

--
-- Name: utility_evaluations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.utility_evaluations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utility_evaluations_id_seq OWNER TO postgres;

--
-- Name: utility_evaluations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.utility_evaluations_id_seq OWNED BY public.utility_evaluations.id;


--
-- Name: utility_ocr_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utility_ocr_results (
    id integer NOT NULL,
    application_id integer NOT NULL,
    filename character varying(255) NOT NULL,
    saved_filename character varying(255) NOT NULL,
    file_url text NOT NULL,
    ocr_result jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.utility_ocr_results OWNER TO postgres;

--
-- Name: utility_ocr_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.utility_ocr_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utility_ocr_results_id_seq OWNER TO postgres;

--
-- Name: utility_ocr_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.utility_ocr_results_id_seq OWNED BY public.utility_ocr_results.id;


--
-- Name: violation_report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.violation_report (
    violation_id integer NOT NULL,
    reported_by integer,
    violator_name character varying(100),
    address character varying(255),
    regulation character varying(255),
    specific_violation text,
    fine_penalty character varying(100),
    other_details text,
    noted_by character varying(100),
    date_reported date,
    violation_status character varying(20),
    attached_proof_image character varying(255),
    CONSTRAINT violation_report_violation_status_check CHECK (((violation_status)::text = ANY (ARRAY[('1st Warning'::character varying)::text, ('2nd Warning'::character varying)::text, ('Fine Issued'::character varying)::text, ('Resolved'::character varying)::text])))
);


ALTER TABLE public.violation_report OWNER TO postgres;

--
-- Name: violation_report_violation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.violation_report_violation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.violation_report_violation_id_seq OWNER TO postgres;

--
-- Name: violation_report_violation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.violation_report_violation_id_seq OWNED BY public.violation_report.violation_id;


--
-- Name: archives archive_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.archives ALTER COLUMN archive_id SET DEFAULT nextval('public.archives_archive_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: barangay_boundaries boundary_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.barangay_boundaries ALTER COLUMN boundary_id SET DEFAULT nextval('public.barangay_boundaries_boundary_id_seq'::regclass);


--
-- Name: barangay_hazards hazard_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.barangay_hazards ALTER COLUMN hazard_id SET DEFAULT nextval('public.barangay_hazards_hazard_id_seq'::regclass);


--
-- Name: business_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_applications ALTER COLUMN id SET DEFAULT nextval('public.business_applications_id_seq'::regclass);


--
-- Name: business_evaluations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_evaluations ALTER COLUMN id SET DEFAULT nextval('public.business_evaluations_id_seq'::regclass);


--
-- Name: business_files id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_files ALTER COLUMN id SET DEFAULT nextval('public.business_files_id_seq'::regclass);


--
-- Name: business_ocr_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_ocr_results ALTER COLUMN id SET DEFAULT nextval('public.business_ocr_results_id_seq'::regclass);


--
-- Name: construction_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_applications ALTER COLUMN id SET DEFAULT nextval('public.construction_applications_id_seq'::regclass);


--
-- Name: construction_evaluations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_evaluations ALTER COLUMN id SET DEFAULT nextval('public.construction_evaluations_id_seq'::regclass);


--
-- Name: construction_ocr_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_ocr_results ALTER COLUMN id SET DEFAULT nextval('public.construction_ocr_results_id_seq'::regclass);


--
-- Name: fault_lines fault_line_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fault_lines ALTER COLUMN fault_line_id SET DEFAULT nextval('public.fault_lines_fault_line_id_seq'::regclass);


--
-- Name: house_polygons house_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.house_polygons ALTER COLUMN house_id SET DEFAULT nextval('public.house_polygons_house_id_seq'::regclass);


--
-- Name: incident_report_evaluations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_report_evaluations ALTER COLUMN id SET DEFAULT nextval('public.incident_report_evaluations_id_seq'::regclass);


--
-- Name: incident_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_reports ALTER COLUMN id SET DEFAULT nextval('public.incident_reports_id_seq'::regclass);


--
-- Name: ocr_jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocr_jobs ALTER COLUMN id SET DEFAULT nextval('public.ocr_jobs_id_seq'::regclass);


--
-- Name: ocr_verifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocr_verifications ALTER COLUMN id SET DEFAULT nextval('public.ocr_verifications_id_seq'::regclass);


--
-- Name: resident resident_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resident ALTER COLUMN resident_id SET DEFAULT nextval('public.resident_resident_id_seq'::regclass);


--
-- Name: role role_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role ALTER COLUMN role_id SET DEFAULT nextval('public.role_role_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: utility_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_applications ALTER COLUMN id SET DEFAULT nextval('public.utility_applications_id_seq'::regclass);


--
-- Name: utility_evaluations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_evaluations ALTER COLUMN id SET DEFAULT nextval('public.utility_evaluations_id_seq'::regclass);


--
-- Name: utility_ocr_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_ocr_results ALTER COLUMN id SET DEFAULT nextval('public.utility_ocr_results_id_seq'::regclass);


--
-- Name: violation_report violation_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.violation_report ALTER COLUMN violation_id SET DEFAULT nextval('public.violation_report_violation_id_seq'::regclass);


--
-- Data for Name: archives; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: barangay_boundaries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: barangay_hazards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_files; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: business_ocr_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: construction_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: construction_evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: construction_ocr_results; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fault_lines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fault_lines (fault_line_id, fault_name, fault_type, description, risk_level, properties, geom, created_at, updated_at) FROM stdin;
1	Blue Ridge B Fault Line	active	Active fault line running through Barangay Blue Ridge B. Construction within 50m is prohibited.	critical	{"critical_distance": 50, "high_risk_distance": 100, "medium_risk_distance": 200}	0102000020E610000004000000E9263108AC445E4008AC1C5A643B2D40CDCCCCCCCC445E4096438B6CE73B2D40B0726891ED445E4023DBF97E6A3C2D40931804560E455E40B0726891ED3C2D40	2026-02-11 17:10:01.359772	2026-02-11 17:10:01.359772
\.


--
-- Data for Name: house_polygons; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: incident_report_evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: incident_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ocr_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ocr_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ocr_verifications (id, supabase_user_id, email, meta, data, verified, reasons, created_at) FROM stdin;
\.


--
-- Data for Name: resident; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resident (resident_id, user_id, household_head_name, address, household_size, contact_no, household_status, registered_date, supabase_user_id, first_name, middle_name, last_name, suffix, ocr_verified) FROM stdin;
14	42	Jeferson Ismael Muring	30 82 POOK ALARIS UP CAMPUS, QUEZON CITY, NCR, SECOND DISTRICT	\N	09919926620	\N	2026-03-05 12:29:44.981688	a44e109d-622d-437d-bb0c-e7e32daafe4a	\N	\N	\N	\N	f
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (role_id, role_name, description) FROM stdin;
1	resident	\N
2	super_admin	\N
4	business_staff	\N
5	construction_staff	\N
6	utility_staff	\N
7	incident_report_staff	\N
8	finance_staff	\N
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.schema_migrations (filename, applied_at) FROM stdin;
20260204_add_business_application_files.sql	2026-02-04 08:35:40.119024+00
20260204_add_requirement_upload_json_business_files_ocr_jobs.sql	2026-02-04 08:36:12.804466+00
20260204_create_ocr_jobs_and_business_files.sql	2026-02-04 08:36:12.808129+00
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: utility_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: utility_evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: utility_ocr_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.utility_ocr_results (id, application_id, filename, saved_filename, file_url, ocr_result, created_at) FROM stdin;
\.


--
-- Data for Name: violation_report; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.violation_report (violation_id, reported_by, violator_name, address, regulation, specific_violation, fine_penalty, other_details, noted_by, date_reported, violation_status, attached_proof_image) FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: postgres
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.topology (id, name, srid, "precision", hasz, useslargeids) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: postgres
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: archives_archive_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.archives_archive_id_seq', 63, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 252, true);


--
-- Name: barangay_boundaries_boundary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.barangay_boundaries_boundary_id_seq', 2, true);


--
-- Name: barangay_hazards_hazard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.barangay_hazards_hazard_id_seq', 8, true);


--
-- Name: business_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.business_applications_id_seq', 107, true);


--
-- Name: business_evaluations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.business_evaluations_id_seq', 129, true);


--
-- Name: business_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.business_files_id_seq', 47, true);


--
-- Name: business_ocr_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.business_ocr_results_id_seq', 109, true);


--
-- Name: construction_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.construction_applications_id_seq', 38, true);


--
-- Name: construction_evaluations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.construction_evaluations_id_seq', 20, true);


--
-- Name: construction_ocr_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.construction_ocr_results_id_seq', 7, true);


--
-- Name: fault_lines_fault_line_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fault_lines_fault_line_id_seq', 1, true);


--
-- Name: house_polygons_house_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.house_polygons_house_id_seq', 230, true);


--
-- Name: incident_report_evaluations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incident_report_evaluations_id_seq', 2, true);


--
-- Name: incident_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incident_reports_id_seq', 15, true);


--
-- Name: ocr_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ocr_jobs_id_seq', 26, true);


--
-- Name: ocr_verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ocr_verifications_id_seq', 1, false);


--
-- Name: resident_resident_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resident_resident_id_seq', 14, true);


--
-- Name: role_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.role_role_id_seq', 1, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 42, true);


--
-- Name: utility_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utility_applications_id_seq', 22, true);


--
-- Name: utility_evaluations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utility_evaluations_id_seq', 12, true);


--
-- Name: utility_ocr_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utility_ocr_results_id_seq', 1, false);


--
-- Name: violation_report_violation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.violation_report_violation_id_seq', 1, false);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: postgres
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: archives archives_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.archives
    ADD CONSTRAINT archives_pkey PRIMARY KEY (archive_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: barangay_boundaries barangay_boundaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.barangay_boundaries
    ADD CONSTRAINT barangay_boundaries_pkey PRIMARY KEY (boundary_id);


--
-- Name: barangay_hazards barangay_hazards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.barangay_hazards
    ADD CONSTRAINT barangay_hazards_pkey PRIMARY KEY (hazard_id);


--
-- Name: business_applications business_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_applications
    ADD CONSTRAINT business_applications_pkey PRIMARY KEY (id);


--
-- Name: business_evaluations business_evaluations_application_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_evaluations
    ADD CONSTRAINT business_evaluations_application_id_key UNIQUE (application_id);


--
-- Name: business_evaluations business_evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_evaluations
    ADD CONSTRAINT business_evaluations_pkey PRIMARY KEY (id);


--
-- Name: business_files business_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_files
    ADD CONSTRAINT business_files_pkey PRIMARY KEY (id);


--
-- Name: business_ocr_results business_ocr_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_ocr_results
    ADD CONSTRAINT business_ocr_results_pkey PRIMARY KEY (id);


--
-- Name: construction_applications construction_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_applications
    ADD CONSTRAINT construction_applications_pkey PRIMARY KEY (id);


--
-- Name: construction_evaluations construction_evaluations_application_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_evaluations
    ADD CONSTRAINT construction_evaluations_application_id_key UNIQUE (application_id);


--
-- Name: construction_evaluations construction_evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_evaluations
    ADD CONSTRAINT construction_evaluations_pkey PRIMARY KEY (id);


--
-- Name: construction_ocr_results construction_ocr_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_ocr_results
    ADD CONSTRAINT construction_ocr_results_pkey PRIMARY KEY (id);


--
-- Name: fault_lines fault_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fault_lines
    ADD CONSTRAINT fault_lines_pkey PRIMARY KEY (fault_line_id);


--
-- Name: house_polygons house_polygons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.house_polygons
    ADD CONSTRAINT house_polygons_pkey PRIMARY KEY (house_id);


--
-- Name: incident_report_evaluations incident_report_evaluations_application_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_report_evaluations
    ADD CONSTRAINT incident_report_evaluations_application_id_key UNIQUE (application_id);


--
-- Name: incident_report_evaluations incident_report_evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_report_evaluations
    ADD CONSTRAINT incident_report_evaluations_pkey PRIMARY KEY (id);


--
-- Name: incident_reports incident_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_reports
    ADD CONSTRAINT incident_reports_pkey PRIMARY KEY (id);


--
-- Name: ocr_jobs ocr_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocr_jobs
    ADD CONSTRAINT ocr_jobs_pkey PRIMARY KEY (id);


--
-- Name: ocr_verifications ocr_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ocr_verifications
    ADD CONSTRAINT ocr_verifications_pkey PRIMARY KEY (id);


--
-- Name: resident resident_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resident
    ADD CONSTRAINT resident_pkey PRIMARY KEY (resident_id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (role_id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (filename);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_supabase_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_supabase_user_id_key UNIQUE (supabase_user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: utility_applications utility_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_applications
    ADD CONSTRAINT utility_applications_pkey PRIMARY KEY (id);


--
-- Name: utility_evaluations utility_evaluations_application_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_evaluations
    ADD CONSTRAINT utility_evaluations_application_id_key UNIQUE (application_id);


--
-- Name: utility_evaluations utility_evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_evaluations
    ADD CONSTRAINT utility_evaluations_pkey PRIMARY KEY (id);


--
-- Name: utility_ocr_results utility_ocr_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_ocr_results
    ADD CONSTRAINT utility_ocr_results_pkey PRIMARY KEY (id);


--
-- Name: violation_report violation_report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.violation_report
    ADD CONSTRAINT violation_report_pkey PRIMARY KEY (violation_id);


--
-- Name: idx_barangay_hazards_geom; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_barangay_hazards_geom ON public.barangay_hazards USING gist (geom);


--
-- Name: idx_business_applications_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_business_applications_date ON public.business_applications USING btree (application_date);


--
-- Name: idx_business_applications_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_business_applications_owner ON public.business_applications USING btree (first_name, last_name);


--
-- Name: idx_business_applications_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_business_applications_status ON public.business_applications USING btree (status);


--
-- Name: idx_construction_ocr_results_app_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_construction_ocr_results_app_id ON public.construction_ocr_results USING btree (application_id);


--
-- Name: idx_construction_ocr_results_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_construction_ocr_results_created_at ON public.construction_ocr_results USING btree (created_at DESC);


--
-- Name: idx_fault_lines_geom; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_fault_lines_geom ON public.fault_lines USING gist (geom);


--
-- Name: idx_house_polygons_address; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_house_polygons_address ON public.house_polygons USING btree (address);


--
-- Name: idx_house_polygons_coords; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_house_polygons_coords ON public.house_polygons USING btree (center_lat, center_lng);


--
-- Name: idx_incident_report_evaluations_app_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_incident_report_evaluations_app_id ON public.utility_evaluations USING btree (application_id);


--
-- Name: idx_incident_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_incident_timestamp ON public.incident_reports USING btree (incident_timestamp);


--
-- Name: idx_ocr_jobs_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ocr_jobs_status ON public.ocr_jobs USING btree (status);


--
-- Name: idx_utility_evaluations_app_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_utility_evaluations_app_id ON public.utility_evaluations USING btree (application_id);


--
-- Name: idx_utility_ocr_app_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_utility_ocr_app_id ON public.utility_ocr_results USING btree (application_id);


--
-- Name: idx_utility_ocr_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_utility_ocr_created_at ON public.utility_ocr_results USING btree (created_at DESC);


--
-- Name: business_evaluations business_evaluations_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_evaluations
    ADD CONSTRAINT business_evaluations_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.business_applications(id) ON DELETE CASCADE;


--
-- Name: business_files business_files_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_files
    ADD CONSTRAINT business_files_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.business_applications(id) ON DELETE CASCADE;


--
-- Name: construction_ocr_results construction_ocr_results_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.construction_ocr_results
    ADD CONSTRAINT construction_ocr_results_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.construction_applications(id) ON DELETE CASCADE;


--
-- Name: audit_logs fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT fk_user FOREIGN KEY (supabase_user_id) REFERENCES public.users(supabase_user_id) ON DELETE CASCADE;


--
-- Name: incident_report_evaluations incident_report_evaluations_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incident_report_evaluations
    ADD CONSTRAINT incident_report_evaluations_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.incident_reports(id) ON DELETE CASCADE;


--
-- Name: resident resident_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resident
    ADD CONSTRAINT resident_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(role_id);


--
-- Name: utility_evaluations utility_evaluations_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_evaluations
    ADD CONSTRAINT utility_evaluations_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.utility_applications(id) ON DELETE CASCADE;


--
-- Name: utility_ocr_results utility_ocr_results_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utility_ocr_results
    ADD CONSTRAINT utility_ocr_results_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.utility_applications(id) ON DELETE CASCADE;


--
-- Name: violation_report violation_report_reported_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.violation_report
    ADD CONSTRAINT violation_report_reported_by_fkey FOREIGN KEY (reported_by) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict vovHC12Z7bKQeAeKQ5h5ptaRvIJeBHrKUPE8SgyShiRf9xBKa0SdhTf3MOyyCHE

