@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --h4: 36px;
    --h4-lh: 44px;

    --h5: 30px;
    --h5-lh: 38px;

    --h6: 24px;
    --h6-lh: 32px;

    --txt1: 20px;
    --txt1-lh: 30px;

    --txt3: 16;
    --txt3-lh: 24px;

    --regular: 400;
    --mediium: 500;
    --semibold: 600;
    --bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.sections {
    /* max-width: 1440px; */
    width: 100%;
    padding: 24px 24px;
    margin-inline: auto;
}

.header {
    width: 100%;
    padding: 16px 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside {
    position: fixed;
    top: 72px;
    left: 0;
    bottom: 0;
    z-index: 2;
    padding: 16px 8px;
    border-right: 1px solid grey;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    background-color: white;
}

.aside .menuToggle {
    padding: 8px;
    cursor: pointer;
    transition: ease background-color 0.2s;
    border-radius: 8px;
    width: max-content;
}

.aside>.icon {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.aside #closeMenu {
    display: none;
}

.aside .divider {
    width: 100%;
    height: 1px;
    background-color: grey;
}

.aside .nav {
    background: white;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.aside .nav.open {
    width: max-content;
}

.aside .nav .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.aside .nav .list .items {
    display: inline-flex;
    background-color: white;
    transition: ease background-color 0.2s;
    border-radius: 8px;
}

.aside .nav .list .items:hover,
.aside .menuToggle:hover {
    background-color: rgb(228, 228, 228);
}

.aside .nav .list .items .links {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: black;
    width: 100%;
}

.aside .nav .list .items .links .links-name {
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.aside .nav:not(.open) .list .items .links .links-name {
    opacity: 0;
    width: 0;
    overflow: hidden;
    margin-left: 0;
}

.aside .nav.open .list .items .links .links-name {
    opacity: 1;
    width: auto;
    margin-left: 8px;
}

.main {
    margin-top: 72px;
    margin-left: 65px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table thead tr th {
    padding: 8px;
}

table tbody tr {
    border-top: 1px solid #C4C4C4;
}

table tbody tr:hover {
    background-color: #c9c9c9;
}

table tbody tr td:last-child {
    width: 1%;
}

table tbody tr td {
    padding: 8px;
    white-space: nowrap;
}

table thead tr th .th-content {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

#page-loader {
    position: fixed;
    inset: 0;
    background: white;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}