:root {
    --h5: 30px;
    --h5-lh: 38px;

    --txt3: 16;
    --txt3-lh: 24px;

    --regular: 400;
    --bold: 700;
}

.row {
    display: flex;
    justify-content: space-between;
}

.divider {
    height: 1px;
    background-color: #C4C4C4;
    margin: 16px 0;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.search-container input {
    height: 32px;
    border-radius: 4px;
    border: 1px solid gray;
    width: 100%;
}

.search-container img {
    position: absolute;
    right: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table thead tr th {
   padding: 8px;
}

table tbody tr {
   border-top: 1px solid #C4C4C4;
}

table tbody tr td {
   padding: 8px;
}

table thead tr th .th-content {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.form-container .form {
    margin: auto;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 32px 24px;
    border-radius: 16px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: max-content;
}

.form-container .form h5 {
    font-size: var(--h5);
    line-height: var(--h5-lh);
    font-weight: var(--bold);
}

.form-container .form .inputs-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.form-container .form .inputs-container .label-and-input {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.form-container .form .inputs-container .label-and-input select,
.form-container .form .inputs-container .label-and-input input[type="email"],
.form-container .form .inputs-container .label-and-input input[type="password"] {
    padding: 12px 8px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
    width: 100%;
    background-color: #f5f5f5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-container .form .inputs-container .label-and-input .error-msg {
    color: red;
    font-size: 12px;
    display: none;
}

.form-container .form .inputs-container .label-and-input .error-msg.show {
    display: block;
}

.form-container .form .inputs-container .label-and-input .error {
    outline: 1px solid red;
}

.form-container .form .buttons-container {
    margin-left: auto;
    width: max-content;
}

.form-container .form .buttons-container button {
    padding: 16px;
    border-radius: 8px;
    border: transparent;
    transition: background-color 200ms ease;
    font-weight: 500;
}

.form-container .form .buttons-container button:nth-child(1) {
    background-color: #dbdbdb;
    color: black;
}

.form-container .form .buttons-container button:nth-child(1):hover {
    background-color: #c9c9c9;
}

.form-container .form .buttons-container button:nth-child(2) {
    background-color: #00247C;
    color: white;
    margin-left: 4px;
}

.form-container .form .buttons-container button:nth-child(2):hover {
    background-color: #00164d;
}

.modal {
    display: none;
}

.modal.active {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.buttons {
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid #C4C4C4;
    cursor: pointer;
}

.buttons:hover {
    background-color: rgb(223, 223, 223);
}