@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/banwa-logo-1.png');
    background-size: 1020px auto;
    background-position: right -50% bottom 170%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f8f9fa;
    opacity: 1;
}

.sections {
    width: 100%;
}

/* .containers {
    max-width: 1440px;
    width: 100%;
    padding: 0px 64px;
    margin-inline: auto;
} */

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.bg-logo {
    position: fixed;
    z-index: -1;
    left: 50%;
    top: 40%;
    right: 5%;
    bottom: 5%;
    pointer-events: none;
    z-index: 0;
}

.bg-logo img {
    max-width: 1020px;
}