@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --h4: 36px;
    --h4-lh: 44px;

    --h5: 30px;
    --h5-lh: 38px;

    --h6: 24px;
    --h6-lh: 32px;

    --txt1: 20px;
    --txt1-lh: 30px;

    --txt3: 16;
    --txt3-lh: 24px;

    --regular: 400;
    --mediium: 500;
    --semibold: 600;
    --bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    padding: 16px 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid grey;
}

.aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 72px;
    left: 0;
    border-right: 1px solid grey;
    padding: 16px 24px;
    z-index: 2;
    width: max-content;
    background-color: white;
}

.aside .nav .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.aside .nav .list .items {
   display: flex;
   column-gap: 8px;
}

.aside .nav .list .items .links {
    text-decoration: none;
    color: black;
    padding: 8px;
    display: block;
    width: 100%;
}


